body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #73a7ad, #cab3b3);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1976d2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttons a:hover {
    background-color: #155a9a;
}

.schedule {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    vertical-align: top;
    width: auto;
}

.cell.time {
    background-color: #ffffff;
    box-shadow: none;
    font-weight: bold;
}

.card {
    background-color: #dcecf0;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .cell {
    background-color: #1976d2;
    color: #fff;
    font-weight: bold;
}

.row .cell:not(:last-child) {
    border-right: 1px solid #fff;
}

.schedule .row:not(:first-child) .cell {
    margin-top: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
    .schedule {
        display: block;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .cell {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
    }

    .cell.time {
        background-color: #1976d2;
        color: #fff;
        font-weight: bold;
    }

    .card p {
        font-size: 14px;
    }

    .header .cell {
        display: none;
    }
}

@media (max-width: 480px) {
    .card p {
        font-size: 12px;
    }

    h1 {
        font-size: 18px;
    }
}
